<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PersonalExpenseCreditTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DBCS" connectionString="data source=DESKTOP-A8JBHH8;database=dbPersonalExpenseCreditTracker;Integrated security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <PersonalExpenseCreditTracker.Properties.Settings>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RememberedUserId" serializeAs="String">
        <value>0</value>
      </setting>
    </PersonalExpenseCreditTracker.Properties.Settings>
  </userSettings>
</configuration>